
            <!--  -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/main.css')}}?v=1.0"
    />
    {% extends "base.html" %}
    {% block title %}Reset your Password{% endblock %}


      {% block content %}

        <main class="top-[70px] h-[calc(100vh-70px)] relative text-amber-600 text-center text-3xl text-bold w-full bg-bodyDark flex justify-center items-center">
            <form action="{{url_for('auth.forgotPassword')}}" method="post" class="auth-card" id="login-form">
              <h1 class="formHeading px-[40px]">Reset your Password</h1>
              <div class="formContent">
            <div class="px-[40px] ">
                <p class="labelText">Enter your E-Mail to receive the Password reset Link</p>
                <input type="email" name="email" id="email" class="formInput" placeholder="E-Mail" autocomplete="off" value = "{{email if email else ''}}">
            </div>

            <div class="px-[40px] ">
                <button type="submit" class="authButton">Get Password Reset Link</button></div>
            </div>
        </form>
    </main>

    <script
    src="https://kit.fontawesome.com/a3d72c8bc7.js"
    crossorigin="anonymous"
  ></script>
    {% endblock %}
    
  
</html>

