
            <!--  -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/main.css')}}"
    />
    {% extends "base.html" %}
    {% block title %}Fundwarden : Login{% endblock %}

    {% block content %}
        <main class="top-[70px] h-[calc(100vh-70px)] relative text-amber-600 text-center text-3xl text-bold w-full bg-bodyDark flex justify-center items-center">
            <form action="#" method="post" class="auth-card">
              <h1 class="formHeading px-[40px]">Login</h1>
              <div class="formContent">
            <div class="px-[40px] ">
                <p class="labelText">Username</p>
                <input type="text" name="username" class="formInput" placeholder="Username" autocomplete="off">
            </div>
            <div class="px-[40px] "> 
                <p class="labelText">Password</p>
                <input type="password" name="password" class="formInput" placeholder="Password">
            </div>
            <div class="px-[40px] ">
                <button type="submit" class="authButton">Login</button></div>
            <div class="px-[40px] flex text-sm justify-center items-start gap-2 flex-col justify-evenly gap-[6px] justify-between"> 
                <a href="#" class="cardLink">Forgot Password ?</a>
                <span class="text-tiny">Don't have an Account ?<a href="{{url_for('register')}}" class="cardLink ml-1">Register Now !</a></span>
            </div>
            </div>
        </form>
    </main>
    {% endblock %}
  <script
    src="https://kit.fontawesome.com/a3d72c8bc7.js"
    crossorigin="anonymous"
  ></script>
  <script>
    const handleMenu = () => {
      const navContent = document.getElementById("navContent");
      navContent.classList.toggle("hidden");
    };
  </script>
  <!-- <script src=".../Static/js/script.js"></script> -->
</html>

