
            <!--  -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/main.css')}}"
    />
    {% extends "base.html" %}
    {% block title %}Fundwarden : Login{% endblock %}

    {% block content %}
        <main class="top-[70px] h-[calc(100vh-70px)] relative text-amber-600 text-center text-3xl text-bold w-full bg-bodyDark flex justify-center items-center">
            <form action="#" method="post" class="auth-card" id="login-form">
              <h1 class="formHeading px-[40px]">Login</h1>
              <div class="formContent">
            <div class="px-[40px] ">
                <p class="labelText">Username</p>
                <input type="text" name="username" id="username" class="formInput" placeholder="Username" autocomplete="off">
            </div>
            <div class="px-[40px] "> 
                <p class="labelText">Password</p>
                <input type="password" name="password" id="password" class="formInput" placeholder="Password">
            </div>
            <div class="px-[40px] ">
                <button type="submit" class="authButton">Login</button></div>
            <div class="px-[40px] flex text-sm justify-center items-start gap-2 flex-col justify-evenly gap-[6px] justify-between"> 
                <a href="#" class="cardLink">Forgot Password ?</a>
                <span class="text-tiny">Don't have an Account ?<a href="{{url_for('auth.register')}}" class="cardLink ml-1">Register Now !</a></span>
            </div>
            </div>
        </form>
    </main>

    <script
    src="https://kit.fontawesome.com/a3d72c8bc7.js"
    crossorigin="anonymous"
  ></script>
  <script>


    document.addEventListener("DOMContentLoaded", (event) => {
      document
        .getElementById("login-form")
        .addEventListener("submit", handleSubmit);
    });

    const errorMsgPopUp = (errorMsg) => {
      alert(errorMsg);
    };

    const handleSubmit = async (event) => {
      event.preventDefault();
      form = document.getElementById("register-form");
      username = document.getElementById("username").value;
      password = document.getElementById("password").value;
      errorMsg = "";
      validUsername = true;
      validPassword = true;
      // The regex for: 6+ chars, 1 Upper, 1 Digit, 1 Special, Password Validation
      const userRegex = /^[a-zA-Z][^\s]{5,29}$/;
      const passwordRegex =
        /^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*(),.?":{}|<>])[A-Za-z\d!@#$%^&*(),.?":{}|<>]{6,}$/;
      // Username Validation

      if (!userRegex.test(username)) {
        validUsername = false;
        errorMsg =
          "Username must start with a letter, No Spaces allowed and must have 6-20 characters !";
      } else if (!passwordRegex.test(password)) {
        validPassword = false;
        errorMsg =
          "Password should have at least 6 characters, 1 digit, 1 Uppercase letter and 1 special character !";
      }

      if (validUsername && validPassword) {
        const loginData = {
          username: username,
          password: password
        }  
        try {
          const response = await fetch('/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(loginData)
            }
        );

        result = await response.json()

        if (response.ok) {
          console.log("Login Successful !")
          window.location.href = result.redirect;
        }
        else {
          errorMsgPopUp(result.error)
        }
      } 
      catch(err) {
        console.error("Connection failed", err);
        errorMsgPopUp("Server unreachable. Try again later.");
      }
    }
    else {
        errorMsgPopUp(errorMsg);
      };
    }

  </script>
    {% endblock %}
    
  
</html>

