<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/main.css')}}"
    />
    {% extends "base.html" %} {% block title %}Fundwarden : Register{% endblock
    %}
  </head>

  {% block content %}
  <main
    class="top-[70px] h-[calc(100vh-70px)] relative text-amber-600 text-center text-3xl text-bold w-full bg-bodyDark flex justify-center items-center"
  >
    <form
      action="#"
      method="post"
      class="auth-card register-card gap-4 h-[403px]"
      id="register-form"
    >
      <h1 class="formHeading px-[40px]">Register</h1>
      <div
        class="formContent px-[40px] flex sm:flex-row flex-col w-full px-[0px] justify-center h-auto"
      >
        <section
          class="left flex flex-col justify-start gap-[20px] bg-red-500 w-[100%] sm:w-[50%]"
        >
          <div class="">
            <p class="labelText mb-[6px]">E-Mail</p>
            <input
              type="email"
              id="email"
              name="email"
              class="formInput w-full"
              placeholder="E-Mail"
              autocomplete="off"
              value="{{ email if email else
            ''}}"
            />
          </div>
          <div class="">
            <p class="labelText mb-[6px]">Full-Name</p>
            <input
              type="text"
              id="name"
              name="name"
              class="formInput"
              placeholder="Full-Name"
              autocomplete="off"
              value="{{ name if name else
            ''}}"
            />
          </div>
        </section>

        <section
          class="right flex flex-col justify-start gap-[20px] w-[100%] sm:w-[50%]"
        >
          <div class="">
            <p class="labelText mb-[6px]">Password</p>
            <input
              type="password"
              id="password"
              name="password"
              class="formInput w-full"
              placeholder="Password"
              value="{{password if password else ''}}"
            />
          </div>
          <div class="">
            <p class="labelText mb-[6px]">Confirm Password</p>
            <input
              type="password"
              id="confirm"
              name="confirm"
              class="formInput"
              placeholder="Confirm Password"
              value="{{ confirm if confirm else
            ''}}"
            />
          </div>
        </section>
      </div>
      <div
        class="px-[40px] flex flex-col items-start w-full h-full justify-evenly"
      >
        <div class="flex w-full justify-center">
          <button type="submit" class="authButton px-2 w-full">
            <i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Register
          </button>
        </div>

        <div class="py-[16px]">
          <span class="text-tiny w-full"
            >Already have an Account ?<a
              href="{{url_for('auth.login')}}"
              class="cardLink ml-1"
              >Log In</a
            ></span
          >
        </div>
      </div>
    </form>
  </main>

  <script>
    // handleMenu() is inherited from base.html

    document.addEventListener("DOMContentLoaded", (event) => {
      document
        .getElementById("register-form")
        .addEventListener("submit", handleSubmit);
    });

    const handleSubmit = async (event) => {
      event.preventDefault();
      form = document.getElementById("register-form");
      form.submit();
    };
  </script>
  <script
    src="https://kit.fontawesome.com/a3d72c8bc7.js"
    crossorigin="anonymous"
  ></script>
  {% endblock %}

  <!-- <script src=".../Static/js/script.js"></script> -->
</html>
