<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/main.css')}}"
    />
    {% extends "base.html" %} {% block title %}Fundwarden : Register{% endblock
    %}
  </head>

  {% block content %}
  <main
    class="top-[70px] h-[calc(100vh-70px)] relative text-amber-600 text-center text-3xl text-bold w-full bg-bodyDark flex justify-center items-center"
  >
    <form
      action="#"
      method="post"
      class="auth-card register-card gap-4 h-[403px]"
      id="register-form"
    >
      <h1 class="formHeading px-[40px]">Register</h1>
      <div
        class="formContent flex flex-row w-full px-[0px] justify-center h-auto"
      >
        <section class="left flex flex-col justify-start gap-[20px]">
          <div class="">
            <p class="labelText mb-[6px]">E-Mail</p>
            <input
              type="email"
              id="email"
              name="email"
              class="formInput w-[210px]"
              placeholder="E-Mail"
              autocomplete="off"
            />
          </div>
          <div class="">
            <p class="labelText mb-[6px]">Full-Name</p>
            <input
              type="text"
              id="name"
              name="name"
              class="formInput"
              placeholder="Full-Name"
              autocomplete="off"
            />
          </div>
        </section>

        <section class="right flex flex-col justify-start gap-[20px]">
          <div class="">
            <p class="labelText mb-[6px]">Password</p>
            <input
              type="password"
              id="password"
              name="password"
              class="formInput w-[210px]"
              placeholder="Password"
            />
          </div>
          <div class="">
            <p class="labelText mb-[6px]">Confirm Password</p>
            <input
              type="password"
              id="confirm"
              name="confirm"
              class="formInput"
              placeholder="Confirm Password"
            />
          </div>
        </section>
      </div>
      <div
        class="px-[40px] flex flex-col items-start w-full h-full justify-evenly"
      >
        <div class="flex w-full justify-start gap-4">
          <button type="submit" class="authButton px-2">
            <i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Register
          </button>
          <button type="" class="authButton px-2">
            <i class="fa-brands fa-google"></i>&nbsp;&nbsp;Register using Google
          </button>
        </div>

        <div class="py-[16px]">
          <span class="text-tiny w-full"
            >Already have an Account ?<a
              href="{{url_for('auth.login')}}"
              class="cardLink ml-1"
              >Log In</a
            ></span
          >
        </div>
      </div>
    </form>
  </main>

  <script>
    // handleMenu() is inherited from base.html

    document.addEventListener("DOMContentLoaded", (event) => {
      document
        .getElementById("register-form")
        .addEventListener("submit", handleSubmit);
    });

    const errorMsgPopUp = (errorMsg) => {
      alert(errorMsg);
    };

    const handleSubmit = async (event) => {
      event.preventDefault();

      name = document.getElementById("name").value;
      email = document.getElementById("email").value;
      password = document.getElementById("password").value;
      confirm = document.getElementById("confirm").value;

      errorMsg = "";
      validName = true;
      validPassword = true;
      validConfirm = true;
      // The regex for: 6+ chars, 1 Upper, 1 Digit, 1 Special, Password Validation
      const nameRegex = /^[a-zA-Z]+(?:[\s-'][a-zA-Z]+)*$/;
      const passwordRegex =
        /^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*(),.?":{}|<>])[A-Za-z\d!@#$%^&*(),.?":{}|<>]{6,}$/;
      // Username Validation

      if (!nameRegex.test(name)) {
        validName = false;
        errorMsg =
          "Full Name is invalid, It must contain your first-name and last-name starting with Capital Letters.";
      } else if (!passwordRegex.test(password)) {
        validPassword = false;
        errorMsg =
          "Password should have at least 6 characters, 1 digit, 1 Uppercase letter and 1 special character !";
      }
      // Confirm Password Validation
      else if (confirm !== password) {
        validConfirm = false;
        errorMsg = "Passwords don't match !";
      }

      if (validName && validPassword && validConfirm) {
        const regData = {
          email: email,
          name: name,
          password: password,
        };
        console.log(regData);
        try {
          const response = await fetch("/register", {
            method: "POST",
            headers: { "Content-type": "application/json" },
            body: JSON.stringify(regData),
          });
          console.log("Response sent");
          const result = await response.json();
          console.log(result);

          if (response.ok) {
            console.log("Registration Successful !");
            window.location.href = result.redirect;
          } else {
            errorMsgPopUp(result.error);
          }
        } catch (error) {
          console.error("Connection failed", error);
          errorMsgPopUp("Server unreachable. Try again later.");
        }
      } else {
        errorMsgPopUp(errorMsg);
      }
    };
  </script>
  <script
    src="https://kit.fontawesome.com/a3d72c8bc7.js"
    crossorigin="anonymous"
  ></script>
  {% endblock %}

  <!-- <script src=".../Static/js/script.js"></script> -->
</html>
