{% extends "core/index.html" %} {% block title %} Add Expenses {% endblock %} {%
block appName %} Add Expense to a Category {% endblock %} {% block mainContent %}
<form action="{{url_for('core.addExpense')}}" method="POST" class="addCashSection pl-6 pt-6 h-full bg-cardDark rounded-md rounded-t-none" id="form">
  <div class="w-[40%] flex flex-col h-full gap-3 ">
  <p class="text-gray-200 text-base md:w-full w-[250%] ">Choose Category to add an Expense</p>
  <div>  
    <select name="category" id="category" class="rounded-md text-white border-2 border-white md:w-[130%] w-[220%] p-2.5 value={{category if category else ''}}">
        <option value="" selected disabled hidden>Choose a Category</option>
        {% for c in categoriesList %}
          {% if category == c.name %}
            <option value="{{c.name}}" selected class="bg-[#101828]">{{c.name}}</option>
          {% else %}
            <option value="{{c.name}}" class="bg-[#101828]">{{c.name}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <p class="text-white mt-4 text-base">Money Expent</p>
    <input type="number" name="expense" id="extension" class=" md:w-[130%] w-[220%] formInput mt-2 text-white" min="0" value="{{expense if expense else ''}}">
</div>

  <div>
    <button type="submit" class=" bg-emerald-600 px-[30px] text-white w-[200px] py-2 mt-[10px] border-2 border-white box-border hover:bg-emerald-800 cursor-pointer font-bold text-[17px]">Add Spending</button>
</div>
  
</form>
{% endblock %}
