{% extends 'core/index.html' %} {% block title %} Add Expenses {% endblock %} {%
block appName %} Add Expense to a Category {% endblock %} {% block mainContent
%}

<div class="container flex items-center justify-evenly bg-gray-800">
  <section
    class="right flex flex-col w-full justify-between border-l-2 border-l-gray-600"
  >
    <h3 class="p-[16px] border-b-gray-600 border-b-2 font-bold text-yellow-300">
      ---------
    </h3>

    <div
      class="flex w-full text-left border-b-2 border-b-gray-900 justify-center"
    >
      <p
        class="w-full text-amber-200 p-[16px] border-r-gray-900 border-r-2 font-bold"
      >
        ---------
      </p>
      <p
        class="w-full p-[16px] text-amber-200 font-bold border-r-gray-900 border-r-2"
      >
        ----------
      </p>
      <p class="w-full p-[16px] text-amber-200 font-bold">---------</p>
    </div>

    <div
      class="text-white h-[140px] min-h-[140px] text-black border-r-gray-900 border-r-2 overflow-y-scroll bg-gray-700"
    >
      {% for category in categoriesList %}
      <div class="flex w-full border-b-2 border-b-gray-900">
        <p class="w-full p-[16px] border-r-2 border-r-gray-900">
          {{category.name}}
        </p>
        <p class="w-full p-[16px]">{{category.budget}}</p>
      </div>
      {% endfor %}
    </div>
    <div
      class="extendBtn p-2.5 pb-0 pl-0 flex items-end mb-[20px] justify-center"
    >
      <a
        href="{{url_for('core.addExpense')}}"
        class="text-yellow-300 font-bold border-2 border-white p-2 px-8 bg-transparent hover:bg-yellow-300 hover:border-yellow-300 hover:text-black mt-2.5"
        >------------</a
      >
    </div>
  </section>
</div>

<script></script>

{% endblock %}
