{% extends 'core/index.html' %} {% block title %} Budget Allocator {% endblock
%} {% block appName %} Budget Allocator{% endblock %} {% block mainContent %}

<div class="flex rounded-md rounded-t-none">
<div class="container flex flex-col mb-[200px] sm:mb-[100px] md:flex-row items-center justify-evenly bg-cardDark w-full rounded-md rounded-t-none">
<form action="{{url_for('core.createCategory')}}" method="POST" class="overflow-hidden h-[300px] min-h-[300px] text-white p-0  w-full md:w-[60%] h-full bg-cardDark rounded-md rounded-t-none " id="form">
  <h3 class="border-b-gray-600 p-[16px] border-b-2 font-bold text-yellow-300">Create a Category and allocate budgets</h3>
  <p class="mb-[4px] mt-[20px] px-[16px]">Category Name</p>
  <input
    type="text"
    name="category"
    id="category"
    class="formInput w-[80%] mb-3 ml-[16px]"
    value = '{{ category if category else "" }}'
  />
  <p class="mb-[4px] px-[16px]">Budget for that category</p>
  <input
    type="number"
    name="budget"
    id="budget"
    min="0"
    class="formInput w-[80%] ml-[16px]"
    value = '{{ budget if budget else "" }}'
    required

  />
  <div>
    <button type="submit" class="authButton w-[80%] mt-4 ml-4 mb-4">
      Create and Allocate 
    </button>
  </div>
</form>
<section class="right flex flex-col w-full justify-between md:border-l-2 md:border-l-gray-600">

  <h3 class="p-[16px] border-b-gray-600  border-b-2 font-bold text-yellow-300 ">Your Categories and Budgets</h3>

        <div class="flex w-full text-left pr-4 border-b-2 border-b-gray-900 justify-between">
              <p class=" w-full text-amber-200 p-[16px] border-r-gray-900 border-r-2 font-bold">Category</p>
              <p class="w-full p-[16px]  text-amber-200 font-bold">Alllocated budget</p>
        </div>

        <div class="text-white h-[140px] min-h-[140px] text-black md:border-r-gray-900 md:border-r-2 overflow-y-scroll bg-gray-700 ">
            {% for category in categoriesList %}
                  <div class="flex w-full border-b-2 border-b-gray-900">
                        <p class="w-full  p-[16px] border-r-2 border-r-gray-900">{{category.name}}</p>
                        <p class="w-full  p-[16px] text-lime-400 font-bold text-xl">₹ {{category.budget}}</p>
                  </div>
            {% endfor %}
        </div>
<div class="extendBtn p-2.5 w-full flex-row sm:flex-col items-center justify-center mb-[0px] bg-transparent justify-center">
  <a href={{url_for('core.extend')}} class="text-white font-bold border-2 border-white p-2 px-8  hover:bg-transparent white  block text-center bg-[#ea0046]  hover:border-[#ea0046] transition duration-300 transition-ease">Extend Budgets</a>
  
  <a href={{url_for('core.reduce')}} class="text-white font-bold border-2 border-white p-2 px-8 block text-center  hover:bg-transparent hover:text-white mt-2.5 block bg-[#00a0f0] hover:border-[#00a0f0] transition duration-300 transition-ease">Reduce Budgets</a>
</div></section>


</div>


<script>
  
</script>
</div>
{% endblock %}