    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/main.css')}}"
    />
    {% extends "base.html" %}
    {% block title %} Dashboard {% endblock %}

    {% block content %}
    <main class="mainContent bg-gray-900 w-full">
            <div class="card flex flex-col h-[418px] max-h-[418px] w-[90%] sm:w-[50%]">

              <div class="dashboard-heading p-6 text-white text-2xl bg-indigo-700 "style="border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;">
                {% block appName %}<h1>💰&nbsp;Fundwarden for <span class="font-bold">{{ current_user.name }}</span></h1> {%endblock%}
              </div>

              {% block mainContent %}
              <div class="dashboard-sections flex bg-cardDark h-full w-full rounded-md rounded-t-none">
                <section class="dashboard-section w-full flex flex-col items-start p-5 justify-evenly gap-2 bg-cardDark rounded-md">
                    <h2 class="bg-gray-900 text-white w-full pl-6 p-5 text-xl">Monthly Balance: <span class="text-yellow-500 font-bold text-2xl"> ₹ {{current_user.balance}}</span></h2>
                    <div class="actions flex flex-col gap-2 w-full">
                      <a href={{url_for('core.add')}} class="actionBtn bg-emerald-600 text-white font-bold">Add Monthly Balance</a>
                      <a href={{url_for('core.tracker')}} class="actionBtn bg-orange-600 text-white font-bold">Expense Tracker</a>
                      <a href={{url_for('core.allocator')}} class="actionBtn bg-purple-600 font-bold text-white">Budget Allocator</a>
                    </div>
                </section>
                
              </div>
              {% endblock %}
            </div>
    </main>

    {% endblock %}
  <script
    src="https://kit.fontawesome.com/a3d72c8bc7.js"
    crossorigin="anonymous"
  ></script>
  <script>
    const handleMenu = () => {
      const navContent = document.getElementById("navContent");
      navContent.classList.toggle("hidden");
    };
  </script>
  <!-- <script src=".../Static/js/script.js"></script> -->
</html>
