{% extends 'core/index.html' %} {% block title %} Expense Tracker {% endblock %}
{% block appName %}
<h2 class="text-2xl font-bold">Your Expenses</h2>
{% endblock %} {% block mainContent %}

<div class="container bg-gray-900 h-[400px] max-h-[400px]">
  <section
    class="right w-full bg-cardDark rounded-md rounded-t-none border-l-gray-600 h-full flex flex-col justify-evenly"
  >
    <div class="p-6 pt-0 pb-0 text-white">
      <div class="max-w-4xl mx-auto overflow-y-scroll h-[250px] max-h-[250px]">
        <div
          class="grid grid-cols-4 bg-white rounded-xl shadow-sm border border-gray-600 overflow-hidden"
        >
          <div
            class="bg-gray-800 text-white px-3 py-2 text-lg font-semibold uppercase tracking-wider text-yellow-400"
          >
            Category
          </div>
          <div
            class="bg-gray-800 text-white px-3 py-2 text-lg font-semibold uppercase text-yellow-400 tracking-wider"
          >
            Budget
          </div>
          <div
            class="bg-gray-800 text-white px-3 py-2 text-lg font-semibold text-yellow-400 uppercase tracking-wider"
          >
            Spent
          </div>
          <div
            class="bg-gray-800 text-white px-3 py-2 text-lg font-semibold text-yellow-400 uppercase tracking-wider"
          >
            Remaining
          </div>

          {% for cat in categoriesList %}
          <div
            class="px-3 py-2 border-b border-gray-500 bg-gray-700 flex items-center"
          >
            <span class="font-bold text-white">{{ cat.name }}</span>
          </div>

          <div
            class="font-bold px-3 py-4 border-b border-gray-500 bg-gray-700 text-white flex items-center"
          >
            ₹{{ "{:,}".format(cat.budget) }}
          </div>

          <div
            class="px-3 py-4 border-b border-gray-500 bg-gray-700 text-red-400 font-bold flex items-center"
          >
            ₹{{ "{:,}".format(cat.spent) }}
          </div>

          <div
            class="px-3 py-4 border-b border-gray-500 bg-gray-700 text-emerald-400 font-bold flex items-center"
          >
            ₹{{ "{:,}".format(cat.budget - cat.spent) }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="extendBtn flex items-center justify-center h-auto">
      <a
        href="{{url_for('core.addExpense')}}"
        class="text-yellow-300 font-bold border-2 border-white p-2 px-8 bg-transparent hover:bg-yellow-300 hover:border-yellow-300 hover:text-black"
        >Add a Spending</a
      >
    </div>
  </section>
</div>

<script></script>

{% endblock %}
