<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Default Title {% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/main.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="font-DMSans bg-bodyDark">
    <div
      class="fixed top-18 w-full z-50 flex flex-col items-center gap-2"
      id="msgDiv"
    >
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      "danger" %}
      <div
        class="alert alert-{{ category }} alert-dismissible text-black font-bold bg-red-200 border-2 border-red-500 px-12 py-3"
        role="alert"
      >
        {{ message }}
      </div>
      {% elif category == "success" %}
      <div
        class="px-12 py-3 alert alert-{{ category }} alert-dismissible text-black font-bold bg-green-300 border-2 border-green-700"
        role="alert"
      >
        {{ message }}
      </div>
      {% else %}
      <div
        class="px-12 py-3 alert alert-{{ category }} alert-dismissible text-black font-bold bg-yellow-200 border-2 border-yellow-500"
        role="alert"
      >
        {{ message }}
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
    </div>
    <nav
      class="bg-primaryDark text-white flex items-center fixed w-full md:h-[70px] md:justify-evenly md:flex hidden md:text-2xl top-0"
    >
      <div class="h-full flex justify-center items-center relative">
        <a href="#" class="h-full flex items-center pr-2">
          <img src="https://i.ibb.co/Q3bLVMg7/logo.png" alt="logo" border="0" />
        </a>
      </div>

      <div
        id="nav-menu"
        class="h-full flex justify-center items-center text-2xl"
      >
        {% if current_user.is_authenticated %}
        <a
          href="#"
          class="text-base py-[10px] px-[12px] hover:text-[#5eefff] transition delay-50 duration-300 ease-in-out"
          >Dashboard</a
        >
        {% else %}
        <a
          href="#"
          class="text-base py-[10px] px-[12px] hover:text-[#5eefff] transition delay-50 duration-300 ease-in-out"
          >Home</a
        >
        {% endif %}
        <a
          href="#"
          class="text-base py-[10px] px-[12px] hover:text-[#5eefff] transition delay-50 duration-300 ease-in-out"
          >Features</a
        >
        <a
          href="#"
          class="text-base py-[10px] px-[12px] hover:text-[#5eefff] transition delay-50 duration-300 ease-in-out"
          >How to Use</a
        >
        <a
          href="#"
          class="text-base py-[10px] px-[12px] hover:text-[#5eefff] transition delay-50 duration-300 ease-in-out"
          >Developers</a
        >
      </div>

      <div id="auth" class="flex gap-[10px] mr-[0px] relative">
        {% if current_user.is_authenticated %}
        <a
          href="{{ url_for('auth.logout') }}"
          class="py-[4px] w-[105px] text-center rounded-[50px] text-base flex justify-center items-center bg-[#de0101] border-2 border-[#de0101] hover:bg-transparent transition delay-50 duration-300 ease-in-out"
          >Logout</a
        >
        {% else %}
        <a
          href="{{ url_for('auth.login') }}"
          class="py-[4px] w-[105px] text-center rounded-[50px] text-base flex justify-center items-center bg-[#029c75] border-2 border-[#029c75] hover:bg-transparent transition delay-50 duration-300 ease-in-out"
          >Login</a
        >
        <a
          href="{{ url_for('auth.register') }}"
          class="py-[4px] w-[105px] text-center rounded-[50px] text-base flex justify-center items-center bg-indigo-700 border-2 border-indigo-700 hover:bg-transparent transition delay-50 duration-300 ease-in-out"
          >Register</a
        >
        {% endif %}
      </div>

      <button
        id="hamburger-btn"
        class="bg-blue-500 cursor-pointer p-[20px] md:hidden"
        onclick="handleMenu()"
      >
        <i class="fa-solid fa-bars"></i>
      </button>
    </nav>

    <!--Mobile Navbar-->
    <nav
      class="fixed md:hidden flex bg-[#3b3939] flex-col text-white w-full z-10"
    >
      <div
        id="navTop"
        class="flex justify-between bg-[#3b3939] md:hidden border-black fixed w-full top-0 h-[80px]"
      >
        <a
          href="#"
          class="p-[20px] relative left-[40px] h-full flex items-center"
        >
          <img
            src="https://i.ibb.co/Q3bLVMg7/logo.png"
            alt="Logo"
            id="logo-image"
          />
        </a>
        <button
          id="hamburger-btn"
          class="cursor-pointer p-[20px] md:hidden relative right-[40px] flex items-center"
          onclick="handleMenu()"
        >
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>

      <div
        id="navContent"
        class="w-full bg-[#3b3939] flex flex-col hidden fixed inset-0 justify-center"
      >
        <div
          id="navTop"
          class="flex justify-between bg-[#3b3939] md:hidden border-black fixed w-full top-0 h-[80px]"
        >
          <a
            href="#"
            class="p-[20px] h-full flex items-center relative left-[40px]"
          >
            <img
              src="https://i.ibb.co/Q3bLVMg7/logo.png"
              alt="Logo"
              id="logo-image"
            />
          </a>
          <button
            id="hamburger-btn"
            class="cursor-pointer p-[20px] md:hidden relative right-[40px] flex items-center"
            onclick="handleMenu()"
          >
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>

        <div id="openedNavContent" class="bg-yellow-00 flex flex-col">
          <div id="navMiddle" class="w-full">
            {% if current_user.is_authenticated %}
            <a
              href="#"
              class="border-t-1 border-[#5d5c5e] text-base py-[10px] px-[12px] hover:text-[#5eefff] transition delay-50 duration-300 ease-in-out w-full flex justify-center mb-[0px]"
              >Dashboard</a
            >
            {% else %}
            <a
              href="#"
              class="border-t-1 border-[#5d5c5e] text-base py-[10px] px-[12px] hover:text-[#5eefff] transition delay-50 duration-300 ease-in-out w-full flex justify-center mb-[0px]"
              >Home</a
            >
            {% endif %}
            <a
              href="#"
              class="border-t-1 border-[#5d5c5e] text-base py-[10px] px-[12px] hover:text-[#5eefff] transition delay-50 duration-300 ease-in-out w-full flex justify-center mb-[0px]"
              >Features</a
            >
            <a
              href="#"
              class="border-b-1 border-t-1 border-[#5d5c5e] text-base py-[10px] px-[12px] hover:text-[#5eefff] transition delay-50 duration-300 ease-in-out w-full flex justify-center mb-[0px]"
              >How to Use</a
            >
            <a
              href="#"
              class="border-b-1 border-[#5d5c5e] text-base py-[10px] px-[12px] hover:text-[#5eefff] transition delay-50 duration-300 ease-in-out w-full flex justify-center mb-[0px]"
              >Developers</a
            >
          </div>

          <div
            id="navBottom"
            class="flex gap-[15px] justify-center relative items-center relative w-full mt-[42px]"
          >
            {% if current_user.is_authenticated == True %}
            <a
              href="{{ url_for('auth.logout') }}"
              class="py-[4px] w-[105px] text-center rounded-[50px] text-base flex justify-center items-center bg-[#de0101] border-2 border-[#de0101] hover:bg-transparent transition delay-50 duration-300 ease-in-out"
              >Logout</a
            >
            {% else %}
            <a
              href="{{ url_for('auth.login') }}"
              class="py-[4px] w-[105px] text-center rounded-[50px] text-base flex justify-center items-center bg-[#029c75] border-2 border-[#029c75] hover:bg-transparent transition delay-50 duration-300 ease-in-out"
              >Login</a
            >
            <a
              href="{{ url_for('auth.register') }}"
              class="py-[4px] w-[105px] text-center rounded-[50px] text-base flex justify-center items-center bg-[#8624ff] border-2 border-[#8624ff] hover:bg-transparent transition delay-50 duration-300 ease-in-out"
              >Register</a
            >
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <main class="">{% block content %} {% endblock %}</main>
  </body>

  <script
    src="https://kit.fontawesome.com/a3d72c8bc7.js"
    crossorigin="anonymous"
  ></script>
  <script>
    const handleMenu = () => {
      const navContent = document.getElementById("navContent");
      navContent.classList.toggle("hidden");
    };

    document.addEventListener("DOMContentLoaded", () => {
      setTimeout(() => {
        const msgDiv = document.getElementById("msgDiv");
        msgDiv.style.transition = "0.7s ease";
        msgDiv.style.top = "-600px";
      }, 3500);
    });
  </script>
</html>
